:root {
  --gap: 30px;
  --light-middle-gray: #cacaca;
}

@media (max-width: 1562px) {
  .feedback__container {
    flex-wrap: wrap;
  }

  .feedback__form-descr {
    margin-bottom: 27px;
  }

  .feedback__block {
    margin-bottom: var(--gap);
  }

  .feedback__form-input {
    padding: 9px 45px 9px 24px;
  }

  .accordion__inner-list {
    max-height: 400px;
    column-gap: 67px;
  }

  .gallery {
    background-image: url('../images/gallery-bg-1024.jpg');
  }
}

@media (max-width: 1220px) {
  .container {
    padding-left: 50px;
    padding-right: 34px;
  }

  .toggle-menu {
    display: flex;
  }

  .hero {
    padding-top: 104px;
    padding-bottom: 114px;
  }

  .hero__title {
    margin: 0;
  }

  .hero__text {
    max-width: 100%;
    margin-top: -8px;
    margin-bottom: 133px;
  }

  .header__burger,
  .form-block {
    display: inline-block;
  }

  .header__bottom,
  .header-top__midle {
    display: none;
  }

  .nav.desktop,
  .login.desktop {
    display: none;
  }

  .toggle-nav {
    margin-bottom: 73px;
  }

  .nav__link-text {
    line-height: 64px;
  }

  .login {
    width: max-content;
  }

  .flex-property {
    display: flex;
    flex: 1 0 33%;
  }

  .justify-content-start {
    display: flex;
    justify-content: flex-start;
  }

  .justify-content-center {
    justify-content: center;
    margin-right: 13px;
  }

  .justify-content-end {
    justify-content: end;
  }

  .search-form__input {
    width: 100%;
    max-width: 218px;
    margin-right: 24px;
  }

  .header-top__search-btn {
    margin-right: 9.5px;
  }

  .common-text {
    max-width: 100%;
  }

  .card__content {
    padding: 10px 30px;
    padding-bottom: 45px;
  }

  .accordion__content-baner {
    width: 173px;
    height: 130px;
  }

  .gallery__filter {
    width: 47%;
  }

  .gallery__filter-container {
    padding-top: 80px;
    padding-bottom: 113px;
  }

  .gallery__title {
    margin-bottom: 16px;
  }

  .gallery__filter-label {
    margin-bottom: 10px;
  }

  .gallery__swiper-nav {
    bottom: 200px;
  }

  .gallery__image {
    max-width: 315px;
    max-height: 330px;
  }

  .choices {
    margin-bottom: 108px;
  }

  .gallery__swiper-button-prev,
  .swiper-rtl .gallery__swiper-button-next {
    left: 0px;
    top: 46px;
  }

  .gallery__swiper-button-next,
  .swiper-rtl .gallery__swiper-button-prev {
    top: 46px;
    left: 102px;
  }

  .gallery__swiper-pagination {
    top: 25px;
    left: 50px;
  }
}

@media (max-width: 1024px) {

  .container {
    padding-right: 50px;
  }

  .toggle-menu {
    display: flex;
  }

  .logo {
    margin-left: -16px;
  }

  .slide-1 {
    background-image: url('../images/hero_swiper_1_1024.jpg');
  }

  .slide-2 {
    background-image: url('../images/hero_swiper_2_1024.jpg');
  }

  .slide-3 {
    background-image: url('../images/hero_swiper_3_1024.jpg');
  }

  .burger-wraper {
    margin-right: 13px;
  }

  .events__swiper-pagination {
    display: block;
    position: absolute;
  }

  #events__swiper-pagination {
    left: 3px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -30px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 10px;
    height: 10px;
    background-color: #666666;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 11px;
  }

  .events__slider-btn-next,
  .events__slider-btn-prev {
    display: none
  }

  .swiper-gallary {
    margin-top: 50px;
    transform: translateY(34px);
  }

  .swiper-slide {
    width: 280px;
  }

  .swiper-container.slider-2 {
    height: 315px;
  }

  .choices__inner {
    min-height: 38px;
  }

  .gallery__modal {
    width: 594px;
    height: 594px;
  }

  .gallery__swiper-nav {
    bottom: 183px;
  }

  .form {
    flex-wrap: wrap;
  }

  /* catalog */

  .catalog__content-wrap {
    width: calc(756 / 1600 * 100%);
  }

  .catalog__accordion {
    width: calc(804 / 1700 * 100%);
  }

  .catalog__text {
    padding-bottom: 39px;
  }

  .catalog__painter-text {
    line-height: 32px;
    max-width: 100%;
  }

  .catalog__painter-image {
    margin-bottom: 31px;
  }

  .accordion__content-wrap {
    padding-top: 25px;
  }

  .accordion__content-baner {
    box-shadow: inset 0px 0px 0px 2px var(--color-light-gray), inset 0px 0px 0px 10px var(--color-whisper);
  }

  .accordion__content-description {
    max-width: 230px;
  }

  .card__content__top {
    margin-bottom: 5px;
    align-items: flex-end;
  }

  .card__img {
    transform: translateY(2px);
  }

  .card__title {
    max-width: 100%;
    margin-bottom: 7px;
  }

  .card__content {
    padding-top: 14px;
    padding-left: 34px;
  }

  .card__descr {
    margin-bottom: 23px;
    max-width: 99%;
  }

  .events__list {
    margin-bottom: 15px;
  }

  .projects {
    padding-top: 66px;
    padding-bottom: 80px;
  }

  .projects-partners-slide {
    height: 130px;
  }

  .projects__swiper-wrapper {
    padding: 0 52px;
  }

  .projects-partners__swiper-button-prev,
  .projects-partners__swiper-button-next {
    top: 50%;
  }

  .feedback__container {
    padding-top: 45px;
  }

  .feedback__form-text {
    font-size: 14px;
    line-height: 19px;
  }

  .feedback__form-title {
    margin-bottom: 10px;
  }

  .feedback__form-input {
    padding-right: 57px;
  }

  .feedback__form-submit {
    padding-left: 39px;
    padding-right: 39px;
  }

  .social__link-svg {
    width: 60px;
    height: 60px;
  }

  .footer__container {
    padding-top: 40px;
    padding-bottom: 36px;
    padding-right: 49px;
  }
}


@media (max-width: 1014px) {
  .slide-1 {
    background-image: url('../images/hero_swiper_1_768.jpg');
  }

  .slide-2 {
    background-image: url('../images/hero_swiper_2_768.jpg');
  }

  .slide-3 {
    background-image: url('../images/hero_swiper_3_768.jpg');
  }

  .catalog__wrap {
    flex-direction: column-reverse;
  }

  .catalog__accordion {
    width: 100%;
    margin-bottom: 50px;
  }

  .feedback__form-block {
    margin-bottom: 12px;
  }

  .catalog__content-wrap {
    width: 100%;
  }

  .catalog__painter-image {
    max-width: 95%;
  }

  .catalog__painter-text {
    max-width: 100%;
  }

  .accordion__inner-list {
    max-height: 310px;
    column-gap: 60px;
  }

  .gallery__filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery__swiper-nav {
    bottom: 0;
    top: 16px;
  }

  .swiper-gallary {
    padding-right: 0;
  }

  .choices {
    margin-bottom: 40px;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    background-color: black;
  }
}

@media (max-width: 768px) {

  .header-content {
    position: relative;
  }

  .header-top__search-form {
    visibility: hidden;
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    padding-left: 50px;
    top: -100px;
    background: black;
    transform: none;
  }

  .header-top__search-form.active {
    visibility: visible;
    top: 0;
    width: 100%;
  }

  .search-form-open {
    display: inline-block;
  }

  .search-form__input {
    width: 100%;
    max-width: 576px;
  }

  .header-top__search-form * {
    visibility: visible;
  }

  .search-form-svg {
    width: 27px;
    height: 27px;
  }

  .header-top__search-btn {
    margin: 0;
    margin-right: 13px;
  }

  .about {
    padding-bottom: 70px;
  }

  .container-gallary {
    padding: 0 50px;
    max-width: 768px;
  }

  .gallery__filter {
    width: 42%;
  }

  .gallery__image {
    width: 315px;
    height: 330px;
  }

  .swiper-gallary {
    margin-top: 66px;
  }

  .swiper-container.slider-2 {
    min-height: 330px;
  }

  .choices__inner {
    min-height: 38px;
  }

  .events__slider {
    margin-top: 17px;
  }

  .gallery__filter-container {
    padding-bottom: 114px;
  }

  .accordion__heading {
    width: 100%;
  }

  .accordion__content-wrap {
    padding-top: 23px;
  }

  .is-active {
    margin-top: 3px;
  }

  .accordion__content-baner {
    width: 100%;
    max-width: 275px;
    height: 189px;
  }

  .accordion__content-description {
    max-width: 275px;
  }

  .catalog {
    padding-bottom: 64px;
  }

  .catalog__text {
    padding-bottom: 22px;
  }

  .catalog__painter-image {
    max-width: 100%;
    margin-bottom: 21px;
    transform: translateY(2px);
  }

  .catalog__painter-subtitle {
    margin-bottom: 5px;
  }

  .card__title {
    max-width: 96%;
    margin-bottom: 5px;
  }

  .card__content__top {
    transform: translateX(15px);
  }

  .is-active > .accordion__heading {
    transform: translateY(-3px);
  }

  .common-title {
    margin-bottom: 14px;
  }

  .projects {
    padding-bottom: 80px;
  }

  .projects-partners__title {
    margin-bottom: 30px;
  }

  .projects__text {
    margin-bottom: 27px;
    max-width: 100%;
  }

  .project-page {
    display: none;
 }

  .projects-partners-slide {
    height: 106px;
  }

  .feedback__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .feedback__form-descr {
    margin-bottom: 15px;
  }

  .feedback__form-block {
    flex-basis: 50%;
    margin-right: 0;
  }

  .feedback__form-submit {
    padding: 10px 29px 10px 27px;
  }

  .feedback__form-input {
    max-width: 323px;
  }
}

@media (max-width: 760px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-top__search-form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 56px;
    line-height: 69px;
  }

  .accordion__inner-list {
    max-height: 390px;
  }

  .feedback__wrapper {
    flex-wrap: wrap;
    margin-right: 20px;
    gap: 0;
  }
  .feedback__form-block {
    margin-bottom: 20px;
  }
}

@media (max-width: 456px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header */

  .header-content {
    padding: 0 5px 0 15px;
  }

  .toggle-menu {
    padding: 40px 0 50px 15px;
  }

  .nav__link-text {
    font-size: 16px;
    line-height: 32px;
  }

  .btn-toggle {
    padding: 11px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .search-form-btn svg,
  .search-form__btn svg {
    width: 19px;
    height: 17px;
  }

  .search-form__close svg {
    width: 18px;
    height: 18px;
  }

  .search-form__input {
    font-size: 0;
    line-height: 0;
  }

  .header-top__search-form.active {
    justify-content: space-between;
    height: 75px;
    width: 100%;
  }

  .header-top__search-form {
    padding: 24px 64px 0 56px;
    justify-content: left;
  }

  .header-top__search-btn {
    margin: 0;
    transform: translateX(-7px);
  }

  .header-top__search-form__input {
    font-size: 12px;
    height: 13px;
    border-bottom: 2px solid;
    margin: 0;
    padding: 0;
  }

  .search-form__close {
    position: absolute;
    top: 13px;
    scale: 0.8;
    right: 14px;
  }

  .header-content {
    height: 45px;
    overflow: visible;
  }

  .header__burger .top {
    width: 100%;
  }

  .header__burger .middle {
    width: 23px;
  }

  .header__burger .bottom {
    width: 14px;
  }

  .hamburger {
    width: 25px;
    height: 27px;
  }

  .logo {
    transform: translateX(-3px) translateY(1px);
  }

  .justify-content-center {
    margin-right: 0;
  }

  .flex-property {
    flex: 1 0 30%;
  }


  /* Hero */

  .slide-1 {
    background-image: url('../images/hero_swiper_1_320.jpg');
  }

  .slide-2 {
    background-image: url('../images/hero_swiper_2_320.jpg');
  }

  .slide-3 {
    background-image: url('../images/hero_swiper_3_320.jpg');
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 249px;
    margin-left: 21px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 249px;
    margin-left: 21px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 0;
    padding-bottom: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero__btn {
    padding: 12px 19px;
    font-size: 12px;
    line-height: 16px;

  }

  /* about */

  .about {
    padding-top: 50px;
    padding-bottom: 13px;
  }

  .about__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    max-width: 280px;
  }

  .common-title {
    margin-bottom: 0;
    padding-bottom: 11px;
  }

  /* Gallery */

  .gallery {
    padding-bottom: 81px;
  }

  .gallery__modal {
    width: 90%;
    height: 557px;
  }

  .gallery__modal-content {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .gallery__modal-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17px 21px 21px 17px;
  }

  .gallery__modal-date {
    margin-bottom: 12px;
  }

  .gallery__filter-container {
    width: 290px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .gallery__title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__filter-label {
    margin-bottom: 5px;
  }

  .slide-gallery::before {
    padding: 0;
    min-height: 367px;
  }

  .gallery__image {
    width: 100%;
    max-height: 367px;
    height: 367px;
  }

  .swiper-container.slider-2 {
    min-height: 367px;
  }

  .swiper {
    margin-top: 0;
  }

  .swiper-gallary {
    transform: translateY(31px);
  }

  .gallery__swiper-nav {
    top: 393px;
    left: 79px;
  }

  .choices {
    width: 290px;
    margin-bottom: 30px;
  }

  .choices__list--single .choices__item {
    padding-left: 14px;
  }

  .checkbox-text::before {
    top: 10px;
  }

  .checkbox-text::after {
    top: 14px;
  }

  /* Catalog */

  .catalog {
    padding-top: 50px;
    padding-bottom: 3px;
  }

  .catalog__accordion {
    margin-bottom: 52px;
  }

  .catalog__accordion {
    margin-bottom: 52px;
  }

  .accordion__heading-text-wrap {
    font-size: 18px;
    line-height: 32px;
  }

  .accordion__heading {
    padding: 20px 120px 19px 0;
  }

  .is-active > .accordion__heading {
    transform: translateY(0);
  }

  .accordion__heading {
    width: 100%;
  }

  .accordion__content-wrap {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .head-icon {
    top: 51%;
    right: 1px;
    width: 30px;
    height: 34px;
  }

  .catalog__title {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10px;
  }

  .catalog__text {
    display: none;
  }

  .accordion__inner-list {
    flex-wrap: nowrap;
  }

  .accordion__inner-list {
    max-height: 100%;
  }

  .catalog__painter-text {
    font-size: 16px;
    line-height: 32px;
  }

  .catalog__painter-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .catalog__painter-title {
    margin-bottom: 6px;
  }

  .catalog__painter-subtitle {
    margin-bottom: 13px;
  }

  .catalog__painter-text {
    max-width: 96%;
  }

  .accordion__content-baner {
    width: 79px;
    height: 118px;
  }

  .catalog__content-wrap {
    width: 290px;
  }

  /* Events */

  .events__title {
    font-size: 28px;
    line-height: 38px;
  }

  .card__content {
    padding-top: 17px;
    padding-left: 22px;
    padding-right: 15px;
    padding-bottom: 47px;
  }

  .card__content__top {
    transform: translateX(0);
  }

  .card__link {
    margin-top: auto;
    transform: translateX(6px);
  }

  .card__content__top {
    margin-bottom: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 11px;
  }

  .card__title {
    margin-bottom: 4px;
  }

  .card__descr {
    margin-bottom: 33px;
  }

  #events__swiper-pagination {
    margin-bottom: 9px;
  }

  /*Projects*/

  .projects {
    padding-top: 27px;
    padding-bottom: 8px;
  }

  .projects__title {
    font-size: 28px;
    line-height: 38px;
  }

  .projects-partners__title {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .project-page {
    display: inline;
  }

  .projects-partners-slide {
    height: 65px;
  }

  .about-page {
    display: inline;
  }

  .projects__text {
    margin-bottom: 51px;
  }

  .projects__text-link {
    display: inline-block;
  }

  .devide {
    display: block;
  }

  .projects__swiper-wrapper {
    padding-right: 47px;
    padding-left: 47px;
  }


  /* feedback */

  .feedback__container {
    padding-top: 42px;
  }

  .feedback {
    border-top: none;
  }

  .form {
    flex-direction: column;
  }

  .feedback__form-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 25px;
  }

  .feedback__form-descr {
    margin: 0;
    padding-bottom: 3px;
  }

  .feedback__social-title {
    font-weight: 400;
    font-size: 18px;
  }

  .feedback__social-svg {
    width: 50px;
    height: 50px;
  }

  .feedback__form-input {
    max-width: 290px;
    padding: 4px 24px;
  }

  .feedback__form-submit {
    width: 96%;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 12px;
  }

  .feedback__form-block {
    flex-basis: 100%;
    margin-bottom: 3px;
  }

  .feedback__form-block:last-of-type {
    margin-bottom: 18px;
  }

  .feedback__block {
    margin-bottom: 20px;
  }

  .feedback__container {
    padding-bottom: 16px;
  }

  .feedback__social-links:not(:last-child) {
    margin-right: 16px;
  }

  /*footer*/

  .footer__container {
    flex-direction: column-reverse;
    padding-top: 19px;
    padding-bottom: 14px;
  }

  .footer__logo {
    width: 97px;
    transform: translate(-5px, -3px);
  }

  .social__list {
    margin-bottom: 20px;
    transform: translateX(-5px);
  }

  .social__link-svg {
    width: 50px;
    height: 50px;
  }

  #map {
    height: 320px;
  }
}
